@font-face {
	font-family: proxima-nova-bold;
	src: url(../fonts/Proxima-Nova-Bold.otf);
	font-display: swap;
}

@font-face {
	font-family: proxima-nova-extra-bold;
	src: url(../fonts/Proxima-Nova-Extra-Bold.otf);
	font-display: swap;
}

@font-face {
	font-family: lato-semi-bold;
	src: url(../fonts/Lato-Semi-Bold.ttf);
	font-display: swap;
}

@font-face {
	font-family: lato-regular;
	src: url(../fonts/Lato-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: proxima-nova-bold;
	src: url(../fonts/Proxima-Nova-Bold-2.otf);
	font-display: swap;
}


