/************ Realock Info Section **************/

#realock_info .content_info {
    max-width: 1030px;
    margin: 0 auto;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 160px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

#realock_info .content_info .row {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.info_heading h1 {
    line-height: 90px;
    color: #000000;
    text-transform: capitalize;
}

.para_info p {
	line-height: 30px;
}

.para_info p span {
    color: #000000;
}

/************ Image Slider Section **************/

#image_slider_section {
	position: relative;
	padding-bottom: 100px;
}

.realock_form_content {
	position: absolute;
    top: -38px;
    left: 0px;
    right: 0px;
    z-index: 1;
    margin: 0px auto;
    max-width: 1030px;
    width: 100%;
}

.search_form_realock {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px 30px;
    box-shadow: 0px 10px 30px 0px rgb(1 1 1 / 8%);
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -moz-box-shadow: 0px 10px 30px 0px rgb(1 1 1 / 8%);
    -webkit-box-shadow: 0px 10px 30px 0px rgb(1 1 1 / 8%);
    -o-box-shadow: 0px 10px 30px 0px rgb(1 1 1 / 8%);
    -ms-box-shadow: 0px 10px 30px 0px rgb(1 1 1 / 8%);
}

.search_form_realock .city_icon {
    width: 5%;
}

.search_form_realock .city_icon .svg_icon {
    font-size: 24px;
    color: #000000;
}

.search_form_realock .realock_form_placeholder {
    width: 70%;
}

.search_form_realock .realock_form_placeholder .form_placeholder {
    width: 100%;
    border: none;
    font-family: lato-semi-bold;
    font-size: 16px;
    padding: 10px 15px;
}

.search_form_realock .realock_form_placeholder .form_placeholder:focus {
    outline: 2px solid #1d44f9;
    border-radius: 5px;
    color: #000000;
}

.search_form_realock .filter_icon {
    width: 10%;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
}

.search_form_realock .filter_icon .svg_icon {
    width: 50px;
    height: 50px;
    border: 2px solid #ebebeb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.search_form_realock .filter_icon .svg_icon:hover {
    border: 2px solid #1d44f9 !important;
    cursor: pointer;
}

.search_form_realock .filter_icon .svg_icon svg {
    width: 25px;
    height: 25px;
    color: #000000;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.search_form_realock .filter_icon .svg_icon:hover svg {
    color: #1d44f9 !important;
}

.search_form_realock .realock_form_button {
    width: 15%;
    text-align: end;
}

.search_form_realock .realock_form_button .form_submit_button {
    font-family: proxima-nova-bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #1d44f9;
    text-transform: capitalize;
    border: 3px solid #1d44f9;
    border-radius: 10px;
    padding: 10px 40px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.search_form_realock .realock_form_button .form_submit_button:hover {
    color: #1d44f9;
    background-color: #ffffff;
    border: 3px solid #1d44f9;
}

.image_slider {
	position: relative;
}

.image_slider:before {
    content: '';
    background-image: url(../images/background-shape/bg-shape-2.png);
    width: 105px;
    height: 80px;
    position: absolute;
    bottom: -45px;
    left: -65px;
}

.image_slider:after {
    content: '';
    background-image: url(../images/background-shape/bg-shape-3.png);
    width: 105px;
    height: 80px;
    position: absolute;
    top: -45px;
    right: -65px;
}

.image_slider .slick-list {
    border-radius: 15px;
}

.image_slider .slide img {
	width: 100%;
	border-radius: 15px;
}

.image_slider .slide.slick-active img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    animation: cssAnimation 5s 1 ease-in-out forwards;
    -webkit-animation: cssAnimation 5s 1 ease-in-out forwards; 
    -moz-animation: cssAnimation 5s 1 ease-in-out forwards;
    -ms-animation: cssAnimation 5s 1 ease-in-out forwards;
    -o-animation: cssAnimation 5s 1 ease-in-out forwards; 
}

@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.3) translate(0px);
  }
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.3) translate(0px);
  }
}

.image_slider .slick-prev,
.image_slider .slick-next {
    top: 52%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 0px 10px 30px 0px rgb(3 3 3 / 20%);
    transition: all .3s ease;
    z-index: 1;
    -moz-box-shadow: 0px 10px 30px 0px rgb(3 3 3 / 20%);
    -webkit-box-shadow: 0px 10px 30px 0px rgb(3 3 3 / 20%);
    -o-box-shadow: 0px 10px 30px 0px rgb(3 3 3 / 20%);
    -ms-box-shadow: 0px 10px 30px 0px rgb(3 3 3 / 20%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.image_slider .slick-prev:before {
    content: '\f104' !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.image_slider .slick-next:before {
    content: '\f105' !important;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.image_slider .slick-prev:hover,
.image_slider .slick-next:hover {
	background-color: #1d44f9;
}

.image_slider .slick-prev:hover:before,
.image_slider .slick-next:hover:before {
	color: #ffffff;
}

/***************** Media Query *******************/

@media (max-width: 1300px) {
	.image_slider:before, 
	.image_slider:after{
		display: none;
	}
}

@media (max-width: 1199px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 10px 10px;
    }
    .header_button {
        margin-left: 10px;
    }
    .navbar-light .navbar-toggler {
        width: 45px;
        height: 45px;
    }
    #realock_info .content_info {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    #realock_info .content_info {
        max-width: 960px;
    }
    .info_heading h1 {
        font-size: 54px;
        line-height: 70px;
    }
    .para_info p {
        font-size: 16px;
    }
    .realock_form_content {
        max-width: 860px;
    }
}

@media (max-width: 991px) {
    .site_header .container {
        padding-left: 15px !important;
        padding-right: 15px !important; 
    }
    .sidebar-nav {
        padding: 0 10px;
    }
    .sidebar-nav .nav-item {
        margin: 5px 0px;
    }
    .sidebar-nav .nav-item .nav-link {
        font-size: 22px;
        padding: 8px 30px 8px 30px;
    }
    #realock_info .content_info {
        padding-top: 20px;
        padding-bottom: 90px;
        max-width: 750px;
    }
    #realock_info .content_info .row {
        padding-left: 15px;
        padding-right: 15px;
    }
    .info_heading h1 {
        font-size: 46px;
        line-height: 60px;
    }
    .para_info p {
        text-align: center;
    }
    .realock_form_content {
        max-width: 660px;
    } 
    .image_slider .slick-prev, .image_slider .slick-next {
        width: 45px;
        height: 45px;
    }
    .image_slider .slick-prev {
        left: 25px;
    }
    .image_slider .slick-next {
        right: 25px;
    }
    .search_form_realock {
        padding: 15px 15px;
    }
    .search_form_realock .city_icon {
        width: 10%;
    }
    .search_form_realock .realock_form_placeholder {
        width: 60%;
    }   
    .search_form_realock .filter_icon {
        padding-right: 0px;
        width: 15%;
    }
    .search_form_realock .filter_icon .svg {
        margin-right: 10px;
    }
    .search_form_realock .realock_form_button {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        display: -webkit-box;      
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
    }
    .header_top .content_header_top {
        padding: 0 !important;
    }
}

@media (max-width: 767px) {
    .header_top .contact_information {
        padding: 0 20px;
    }
    .contact_information .header_top_text {
        display: none;
    }
    .contact_information .header_top_icons {
        font-size: 24px;
    }
    .contact_information .column_1 a .fa-square-phone {
        margin-right: 20px;
    }
    .contact_information .column_3 a {
        margin-right: 20px;
    }
    #realock_info .content_info .row {
        text-align: center;
    } 
    .info_heading h1 {
        font-size: 28px;
        line-height: 60px;
    }
    #image_slider_section {
        padding-bottom: 80px;
    }
    .realock_form_content {
        max-width: 480px;
        top: -32px;
    }
    .search_form_realock {
        padding: 10px 15px;
    } 
    .search_form_realock .city_icon {
        display: none;
    }
    .search_form_realock .realock_form_button .form_submit_button {
        padding: 10px 15px;
    }
    .image_slider .slick-prev, 
    .image_slider .slick-next {
        width: 40px;
        height: 40px;
    } 
    .image_slider .slick-prev:before,
    .image_slider .slick-next:before {
        font-size: 22px;
    }
}

@media (min-width: 480px) and (max-width: 530px) {
    .realock_form_content {
        max-width: 420px;
    }
}

@media (max-width: 450px) {
    .info_heading h1 {
        font-size: 23px;
        line-height: 30px;
    }
    .para_info p {
        font-size: 15px;
        line-height: 24px;
    }
    #realock_info .content_info {
        padding-bottom: 70px;
    }
    .realock_form_content {
        max-width: 370px;
    }
    .search_form_realock .filter_icon .svg_icon {
        width: 40px;
        height: 40px;
    }
    .search_form_realock .realock_form_button .form_submit_button {
        padding: 10px 10px;
    }
    .search_form_realock .realock_form_placeholder .form_placeholder {
        padding: 7px 15px;
    }
    .search_form_realock .realock_form_button .form_submit_button {
        padding: 7px 10px;
    }
    #image_slider_section {
        padding-bottom: 60px;
    }    
}

@media (max-width: 400px) {
    #realock_info .content_info .row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .info_heading h1 {
        font-size: 19px;
    }
    .contact_information .header_top_icons {
        font-size: 20px;
    }
    .contact_information .column_3 a {
        margin-right: 15px;
    }
    .realock_form_content {
        max-width: 310px;
    }
    .search_form_realock {
        padding: 8px 10px;
    }
    .search_form_realock .realock_form_placeholder {
        width: 50%;
    }
    .search_form_realock .filter_icon {
        width: 20%;
    }
    .search_form_realock .realock_form_button {
        width: 25%;
    }
    .search_form_realock .realock_form_placeholder .form_placeholder {
        padding: 7px 5px;
        font-size: 14px;
    }
    .search_form_realock .realock_form_button .form_submit_button {
        padding: 5px 10px;
    }
    #image_slider_section {
        padding-bottom: 40px;
    }
    .image_slider .slick-prev:before, .image_slider .slick-next:before {
        font-size: 20px;
    }
    .image_slider .slick-prev, .image_slider .slick-next {
        width: 30px;
        height: 30px;
    }
    .image_slider .slick-prev {
        left: 10px;
    }
    .image_slider .slick-next {
        right: 10px;
    }
}

@media (min-width: 300px) and (max-width: 350px) {
    .realock_form_content {
        max-width: 270px;
    }
}